.searchBar {
  width: 100%;
  margin-bottom: 2rem;
}

.textRight {
  text-align: right;
}

.icon {
  cursor: pointer;
  height: 1rem;
  margin-left: 1rem;
  fill: #999;
}

.icon:active {
  fill: #666;
}

@media (prefers-color-scheme: dark) {
  .icon {
    fill: #ccc;
  }

  .icon:active {
    fill: white;
  }
}
